@charset 'utf-8';
.page-top {
  background-color: #fff;
  border-bottom: 2px solid #ff6700;
}
.page-top #swc {
  display: inline-block;
  padding-top: 21px;
  line-height: 52px;
  font-size: 30px;
}
.userinfo {
  padding: 30px;
}
.userinfo span {
  color: #333;
  margin: 0 20px 0 0px;
}
.userinfo .tit i {
  margin-left: 20px;
}
.userinfo .tit:hover {
  color: #ff6700;
}
.userinfo #tit:hover {
  color: #ff6700;
}
.user ul {
  z-index: 10;
  background-color: #fff;
}
.content {
  padding: 38px 0;
  background: #f5f5f5;
}
.content .car_shop {
  height: 273px;
  padding-left: 558px;
  margin: 65px 0 130px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/cart/cart-empty.png) no-repeat 124px 0;
  color: #b0b0b0;
  overflow: hidden;
}
.content .car_shop .my_shopcar {
  margin: 70px 0 0 0;
  font-size: 36px;
  font-weight: bold;
}
.content .car_shop > .btn {
  background: #ff6700;
  color: #fff;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #ff6700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 0;
  width: 170px;
  height: 50px;
  line-height: 50px;
}
.content .re-title {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}
.content .re-title > span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}
.content .list .item {
  float: left;
  width: 213px;
  height: 300px;
  padding: 0 20px;
  margin: 0 0 14px 14px;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
}
.content .list .item img {
  width: 200px;
}
.content .list .item .p-title {
  margin: 10px 0 5px;
  color: #333;
}
.content .list .item .p-price {
  margin: 5px 0;
  color: #ff6700;
}
#opinion {
  margin: 0 auto;
}
#opinion .btn {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 20px;
  margin: 0 auto;
  background-color: #ff6700;
  color: #fff;
  border-radius: 0;
  position: absolute;
  bottom: -40px;
  left: 42px;
  transition: all 0.3s linear;
}
#opinion:hover .btn {
  bottom: 10px;
}
